
body {
  background-color: lightblue;
}

#board {
  width: 440px;
  height: 440px;
  /* border: 2px solid white; */
  background-color: black;
  position: relative;
  margin: 50px;
}

#left-paddle {
  background-color: orangered;
  width: 15px;
  height: 75px;
  position: absolute;
  left: 5px;  /* Uncomment if you want to set a "starting" position */
  top: 250px;   /* Uncomment if you want to set a "starting" position */
  border-radius: 2px;
}

#right-paddle {
  /* Appearance */
  background-color: yellow;
  width: 15px;
  height: 75px;
  border-radius: 2px;

  /* Positioning */
  position: absolute;
  right: 5px;  /* Uncomment if you want to set a "starting" position */
  top: 250px;   /* Uncomment if you want to set a "starting" position */
}

#ball {
  background-color: white;
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  left: 210px;
  top: 210px;
}

#left-score {
  background-color: rgba(255, 255, 0, 0.375);
  width: 80px;
  height: 40px;
  position: absolute;
  left: 30px;
  top: 10px;
}

#right-score {
  background-color: rgba(255, 255, 0, 0.375);
  width: 80px;
  height: 40px;
  position: absolute;
  right: 30px;
  top: 10px;
}

